<center><div class="hgroup">
    <center><h1>Create account</h1></center>
    <form>
        <div class="group">
            Username:
        <input type="text" name="username" ng-model="userName" required><span class="highlight"></span>
        </div>
        
        
        <div class="group">
            Password
            <input type="password" name="password" ng-model="Password" required><span class="highlight"></span>
        </div>
        <div class="group">
                confirm Password:
               <input type="password" name="password" ng-model="confirmpass" required><span class="highlight"></span>
               </div>
        <input type="submit" class="button buttonBlue" value="Create account" ng-click="register()">
       
    </form>
    <h3>Already have account???</h3>
    <a ui-sref="login">Login here</a>
   
        
    
</div>
</center>